<!DOCTYPE html>
<html>
    <body style="background:white">
        
        <center><h1 style="color:black">About Us!</h1></center>
        <h2>This is a site which gives brief information about the various places to visit in Mumbai.</h2>
   		<i>
   		<p>You can go to the site seeing tab to view the different sites.
   		<br/><br/>
   		For further information, click on the site and you will be directed to a new page with additional information
   		<br/><br/>
   		You can book sites according to your requirement if your wallet balance is greater than the cost of site.
   		<br/><br/>
   		Otherwise you will be asked to add balance which you can do at the click of a button!
   		<br/><br/>
   		The profile tab gives information about the user profile and also gives the complete transaction history as well as gives the functionality to add
   		balance.
   		</p>
   		</i> 
    </body>
</html>